*{
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: "微软雅黑", Arial;
}
div.header{
    width: 100%;
    height: 115px;
    margin: 0px;
    padding: 0px;
    /*border: 1px solid #ff0000;*/
}

div.header .header_top{
    width: 100%;
    height: 6px;
    position: relative;
    margin: 0px;
    padding: 0px;
}

div.header .header_logo{
    width: 460px;
    margin: 20px 75px;
    float: left;
    /*border: 1px solid #ff0000;*/
}

div.header_r
{
    width: 700px;
    height: 72px;
    position: relative;
    left: 600px;
    top: 15px;
    /*border: 1px solid #ff0000;*/
}

form.header_search{
    width: 700px;
    height: 26px;
    position: relative;
    /*border: 1px solid #ff0000;*/
}

form.header_search input{
    width: 185px;
    height: 26px;
    position: absolute;
    right: 60px;

}
form.header_search img{
    cursor: pointer;
    width: 26px;
    height: 26px;
    font-size: medium;
    backgrond-color: #ffffff;
    position: absolute;
    right: 40px;
}


div.header_r ul.nav_fir{
    list-style-type: none;
    width: 700px;
    height: 30px;
    margin: 10px;
    padding: 0px 0px;
    position: absolute;
    /*border: 4px solid #ff0000;*/
}

div.header_r ul.nav_fir>li{
    display: inline-block;
    /*border: 1px solid #000000;*/
    padding: 0px 15px;
    height: 35px;
    position: relative;
}
div.header_r ul.nav_fir>li a{
    color:#000000;
    text-decoration:none;
    font-family: "微软雅黑", Arial;
    font-weight: 600;
    font-size: medium;
}
div.header_r ul.nav_fir>li a:hover{
    color: #008000;
    text-decoration: none;
}


div.header_r ul.nav_fir>li ul{
    list-style: none;
    position: absolute;
    width: 400px;
    height: 100%;
    left: -20px;
    top:30px;
    display: none;
    background: #d3d3d3;
    padding: 0px;
}

div.header_r ul.nav_fir>li ul li a{
    color: #000000;
    font-size: small;
    display: block;
    padding: 6px 10px;
}

div.header_r ul.nav_fir>li ul li a:hover{
    color: #ffffff;
    background: #008000;
}
div.header_r ul.nav_fir>li:hover ul{
    display: block;
}

div.header_r ul.nav_fir>li ul>li{
    display: inline-block;
}

div.header_r ul.nav_fir>li ul.nav_sub2{
    width: 500px;
    left: -100px;
}

div.header_r ul.nav_fir>li ul.nav_sub4{
    /*width: 500px;*/
    left: -100px;
}
div.header_r ul.nav_fir>li ul.nav_sub5{
    width: 150px;
    left: -50px;
}

div.header_r ul.nav_fir>li ul.nav_sub6{
    width: 300px;
    left: -200px;
}


/*以下为轮播设置样式*/
#container {
    width:1366px;
    height: 400px;
    /*border: 3px solid #333;*/
    overflow: hidden;
    position: relative;
    top: 5px;
}

#list {
    width: 10000px;
    height: 550px;
    position: absolute;
    /*border: 1px solid #ff0000;*/
    z-index: 1;
}
#list img {
    width: 1366px;
    height: 550px;
    float: left;
}
#buttons {
    position: absolute;
    height: 10px;
    width: 800px;
    z-index: 2;
    bottom:100px;
    left: 550px;
}

#buttons span {
    cursor: pointer;
    float: left;
    width: 80px;
    height: 8px;
    border-radius: 0%;
    background: #d3d3d3;
    opacity: 0.6;
    margin-right: 10px;
}

#buttons>span.on {
    background: #ff0000;
}

#next{
    right: 20px;
}
#prev{
    left: 20px;;
}
.arrow {
    cursor: pointer;
    display: none;
    line-height: 50px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    width: 40px;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 230px;
    background-color: RGBA(0,0,0,.3);
    color: #fff8dc;
}
.arrow:hover {
    background-color:
            RGBA(0,0,0,.7);
}
#container:hover .arrow {
    display: block;
    text-decoration: none;
}
#prev {
    left: 20px;
}
#next {
    right: 20px;
}

#float_window{
    position: fixed;
    width: 230px;
    height: 250px;
    top: 180px;
    right: 0px;
    /*background: #0000ff;*/
    z-index: 999;
}
#rightArraw{
    float: right;
    width: 50px;
    height: 50px;
    /*background: #ffff00;*/
    z-index: 999;


}

#customer_service{
    width: 180px;
    height: 250px;
    float: right;
    background: #ffffff;
    z-index: 999;
    /*display: none;*/
}
#customer_service #customer_service_top{
    width: 100%;
    height: 20%;
    background: #008000;
    font-family: "微软雅黑", Arial;
    color: #ffffff;
    text-align: center;
    padding: 6px;
}
/*#customer_service #customer_service_top p{*/
/*margin: 0 auto;*/
/*}*/
#customer_service a{
    display: block;
    width: 100%;
    margin: 25px 0px;
    padding-left: 60px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d3d3d3;
    /*border-bottom-style: dashed;*/
}

div#main_content{
    width: 1300px;
    top: 10px;
    height: 900px;
    /*border: 2px solid #ffff00;*/
}
#main_content_top{
    height: 90px;
    width: 1366px;
    border: 1px solid darkgrey;
    background-color: cornsilk;
}
#main_content_sidebar{
    width: 250px;
    height: 500px;
    position: absolute;
    left: 115px;
    top: 630px;
    /*border: 1px solid #ffff00;*/
}
#main_content_about{
    width: 820px;
    height: 590px;
    float: right;
    margin-right: 70px;
    margin-top: 30px;
    /*border: 1px solid #ff0000;*/
}
#main_content_aboutus{
    width: 100%;
    height: 73px;
    background-color: #008000;
}
#main_content_list ul{
    list-style: none;
    /*padding-left: 30px;*/
}

#main_content_list>ul a{
    display: block;
    color: #000000;
    font-size: medium;
    line-height: 3em;
    text-indent: 2em;
    border-bottom: 1px solid lightgrey;
}
#main_content_list ul a:hover{
    text-decoration: none;
    background: forestgreen;
    color: #ffffff;
}

#main_content_title{
    position: absolute;
    left: 430px;
}
#main_content_index{
    float: right;
    margin-top: 20px;
    margin-right: 130px;
}

#main_content_about>table>tbody>tr{
    text-align: center;
}


div.footer{
    width: 1366px;
    height: 300px;;
    background-color: #2f4f4f;
    overflow: hidden;
}

div#content7>div#top{
    width: 1366px;;
    height:80%;
    border: 0px solid #ff0000;
}

div#content7>div#top>div#left{
    width: 700px;
    height: 100%;
    border: 0px solid #0000ff;
    float: left;
    margin-left: 120px;;
}
div#content7>div#top>div#left>p{
    color: white;
    font-family: "微软雅黑", Arial;
}

div#content7>div#top>div#right{
    width: 500px;;
    height:55%;
    margin-top: 60px;
    border-left: 1px solid #808080;
    border-left-style: dashed;
    float: right;
}

div#content7>div#top>div#right>img{
    margin: 2px 30px;
}

div#content7>div#bottom{
    border: 0px solid #fff8dc;
    margin-top: 25px;
    padding-top: 10px;;
    border-top: 1px solid #808080;
}

div#content7>div#bottom>p{
    text-align: center;
    width: 90%;
    float: right;
    color: #ffffff;
    font-family: "微软雅黑", Arial;
    font-size: small;
}

div#content7>div#bottom>p>a{
    color: #ffffff;
    text-decoration: none;
}

div#content7>div#bottom>p>a:hover{
    color: #a3b371;
}

div#cnzz{
    width: 10%;
    height: 18px;
    position: absolute;
    right: 20px;

    /*border: 3px solid #ffffff;*/

}